*~
/aclocal.m4
/autom4te.cache
/build-stamp
/config
/config.log
/config.guess
/config.status
/config.sub
/configure
/debian/files
/debian/vyatta-op-quagga
/debian/vyatta-op-quagga.debhelper.log
/INSTALL
/Makefile.in
/Makefile
/VERSION
