Source: vyatta-op-quagga
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-op-quagga
Architecture: all
Depends: vyatta-op,
 vyatta-bash | bash (>= 3.1),
 vyatta-quagga (>= 0.99.15-26)
Description: Vyatta operational command for the Quagga route daemons
 Bash command completions, help strings, and run definitions
